.pagination_container {
  display: flex;
  list-style-type: none;

  .pagination_item {
    display: flex;
    padding: 0 0.8em;
    height: 2em;
    text-align: center;
    margin: auto 0.2em;
    color: #fff;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 50%;
    line-height: 1.43;
    font-size: 16px;
    min-width: 2em;

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.11);
      cursor: pointer;
    }

    &.selected {
      background-color: rgba(0, 0, 0, 0.22);
    }

    .arrow {
      &::before {
        position: relative;
        /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
        content: '';
        /* By using an em scale, the arrows will size with the font */
        display: inline-block;
        width: 0.4em;
        height: 0.4em;
        border-right: 0.12em solid #fff;
        border-top: 0.12em solid #fff;
      }

      &.left {
        transform: rotate(-135deg);
      }

      &.right {
        transform: rotate(45deg);
      }
    }

    &.disabled {
      pointer-events: none;

      .arrow::before {
        border-right: 0.12em solid #fff;
        border-top: 0.12em solid #fff;
      }

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}
