.container {
  display: flex;
  padding: 1em 2em;
  background-color: #1e272c;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;
  list-style: none;

  &__items a {
    font-size: 18px;
    text-decoration: none;

    margin-right: 1em;

    &:hover {
      color: #ffd52d;
    }
  }
}

.active {
  border-bottom: 3px solid #ffd52d;
  transition: border-bottom 0.5s ease-in-out;
}

.container img {
  width: 50%;
}
