.container {
    display: flex;
    padding: 2rem;
    background-color: #1e272c;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: space-between;
}

.container img {
    width: 8%;
}

.box{
    position: relative;
}

.input {
    padding: 10px;
    width: 80px;
    height: 80px;
    background: none;
    border: 4px solid #ffd52d;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 22px;
    color: #ffd52d;
    outline: none;
    transition: .5s;
}

.box:hover input{
    width: 350px;
    background: #3b3640;
    border-radius: 10px;
}
.box i{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%,-50%);
    font-size: 22px;
    color: #ffd52d;
    transition: .2s;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
}